.cta {
  position: absolute;
  bottom: 0;
  align-self: center;
  z-index: 5;
  transform: translateY(50%);
  @media screen and (max-width: $view-port) {
    width: 358px;
    height: 351px;
    transform: translateY(-30%);
    border-radius: 6px;
    /* shadow block */
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    background: rgb(253, 253, 253);
  }
  //! .cta__body
  &__body {
    width: 1180px;
    height: 196px;
    border-radius: 6px;
    background: #fdfdfd;

    /* shadow block */
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    @media screen and (max-width: $view-port) {
      width: 100%;
      height: 100%;
    }
  }

  //! .cta__row
  &__row {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    @media screen and (max-width: $view-port) {
      width: 100%;
      height: 100%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0px;
    }
  }

  //! .cta__text
  &__text {
    width: 380px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    @media screen and (max-width: $view-port) {
      width: 260px;
      max-height: 86px;
      margin-bottom: 9px;
    }
  }

  &__label {
    font-size: 18px;
    color: $color-accent !important;
    @media screen and (max-width: $view-port) {
      font-size: 16px;
    }
  }
  &__title {
    font-size: 26px;
    @media screen and (max-width: $view-port) {
      font-size: 18px;
    }
  }

  //! .cta__form

  &__form {
    min-width: 536px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    @media screen and (max-width: $view-port) {
      min-width: 312px;
    }
  }
  &__form-label {
    color: #18121e;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    @media screen and (max-width: $view-port) {
    }
  }
  &__form-form {
    display: flex;
    column-gap: 16px;
    align-items: center;
    @media screen and (max-width: $view-port) {
      flex-direction: column;
      align-items: start;
      row-gap: 16px;
      margin-bottom: 24px;
    }
  }
  &__form-form input {
    display: flex;
    width: 280px;
    height: 44px;
    padding: 0px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #f3f5f4;

    @media screen and (max-width: $view-port) {
      width: 100%;
    }

    &::placeholder {
      color: #18121e;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }
  &__form-form a {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fdfdfd;
    border: 1px solid #1a3e3e;

    @media screen and (max-width: $view-port) {
      letter-spacing: 1.2%;
    }

    &:hover {
      color: #1a3e3e;
      background: #fdfdfd;
    }

    span {
      font-size: 15px;
      @media screen and (max-width: $view-port) {
      }
    }
  }
  &__policy {
    max-width: 536px;
    min-height: 36px;
    color: #18121e;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    @media screen and (max-width: $view-port) {
      margin-top: -8px;
    }

    span {
      text-decoration: underline;
    }
  }
}
