.destinations {
  width: 100%;
  min-height: 897px;
  padding-top: 80px;
  @media screen and (max-width: $view-port) {
    overflow-x: hidden;
  }

  //! .destinations__text
  &__text {
    width: 580px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $view-port) {
      width: 358px;
      height: 57px;
      align-items: start;
      margin-bottom: 32px;
    }
  }

  //! .destinations__label
  &__label {
    padding-bottom: 8px;

    @media screen and (max-width: $view-port) {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  //! .destinations__title
  &__title {
    @media screen and (max-width: $view-port) {
      font-size: 24px;
      font-weight: 800;
      line-height: 120%;
    }
  }

  //! .destinations__row
  &__row {
    width: 1180px;
    min-height: 500px;
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 50px;
    @media screen and (max-width: $view-port) {
      width: 911px;
      max-height: 400px;
      margin-bottom: 50px;
    }
  }
  .destinations__row-img {
    position: absolute;
  }

  .destinations__row-column {
    width: 380px;
    min-height: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $view-port) {
      width: 285px;
      height: 400px;
    }

    &:hover {
      .destinations__features {
        transform: translateY(0);
        transition: transform 2s ease;
      }
    }

    .destinations__row-rating {
      position: absolute;
      top: 50px;
      right: 0;
      border-radius: 4px 0px 0px 4px;
      background: rgba(253, 253, 253, 0.4);
      backdrop-filter: blur(2px);
      padding: 4px 8px;
      z-index: 1;

      @media screen and (max-width: $view-port) {
        width: 65px;
        height: 32px;
        top: 36px;
      }
    }
    .rating__row {
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        color: #1a3e3e;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
      }
    }

    .destinations__features {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px);
      position: absolute;
      z-index: 2;
      transform: translateY(410px);
      transition: transform 2s ease;

      @media screen and (max-width: $view-port) {
        transform: translateY(305px);
        width: 285px;
        height: 400px;
      }
    }
    .destinations__features-body {
      width: 100%;
      min-height: 450px;
      display: flex;
      flex-direction: column;
      padding: 30px 32px 40px;
      align-items: start;
      @media screen and (max-width: $view-port) {
        width: 100%;
        min-height: 100%;
      }

      .destinations__text {
        width: 316px;
        height: 216px;
        margin-bottom: 105px;
        @media screen and (max-width: $view-port) {
          width: 100%;
          margin-bottom: 40px;
        }

        p {
          color: #fdfdfd;
          font-size: 16px;
          @media screen and (max-width: $view-port) {
            font-size: 12px;
          }
        }
      }
      button {
        padding: 12px 24px;
        border-radius: 4px;
        color: #fdfdfd;
        @media screen and (max-width: $view-port) {
          padding: 8px 18px;
        }

        a {
          color: #fdfdfd;
          @media screen and (max-width: $view-port) {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.192px;
          }
        }
        &:hover {
          color: #1a3e3e;
          background: #fdfdfd;
          a {
            color: #1a3e3e;
          }
        }
        &:hover:not(a) {
          border: 1px solid #1a3e3e;
        }
      }
    }
    .body__row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      @media screen and (max-width: $view-port) {
        width: 100%;
        margin-bottom: 20px;
      }

      &-case {
        @media screen and (max-width: $view-port) {
          width: 146px;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        h2 {
          color: #fdfdfd;
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          @media screen and (max-width: $view-port) {
            width: 146px;
            height: 23px;
            font-size: 18px;
          }
        }
        p {
          color: #fdfdfd;
          font-size: 14px;
          line-height: 18px;
          @media screen and (max-width: $view-port) {
            // width: 237px;
            // font-size: 10px;
            display: none;
          }
        }
      }
      &-price {
        padding: 8px 16px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.3);
        @media screen and (max-width: $view-port) {
          padding: 6px 12px;
        }

        span {
          color: #fdfdfd;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          @media screen and (max-width: $view-port) {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
    }

    .img {
      &__rating {
        padding: 4px 8px;
        border-radius: 4px 0px 0px 4px;
        background: rgba(253, 253, 253, 0.4);
        backdrop-filter: blur(2px);
        position: absolute;
        transform: translate(50px);
        span {
          width: 49px;
          height: 24px;
        }
      }
    }
  }

  //! .destinations__btn
  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      padding: 16px 36px;
      a {
        color: #fdfdfd;
      }
      &:hover {
        color: #1a3e3e;
        background: #fdfdfd;
        a {
          color: #1a3e3e;
        }
      }
      &:hover:not(a) {
        border: 1px solid #1a3e3e;
      }
    }
  }
}
