.explore {
  position: relative;
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media screen and (max-width: $view-port) {
    width: 100%;
    height: 925px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  //! .explore__row
  &__row {
    width: 1180px;
    height: 526px;
    position: relative;

    @media screen and (max-width: $view-port) {
      width: 100%;
      height: 826px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.items {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  column-gap: 120px;
  @media screen and (max-width: $view-port) {
    flex: auto;
    height: 826px;
  }

  //! .items__item-img
  &__item-img {
    flex: 0 0 480px;
    height: 100%;
    position: relative;
    @media screen and (max-width: $view-port) {
      order: 2;
    }

    .mountains {
      width: 350px;
      height: 400px;
      background-image: url('./../../img/explore/01.png');

      @media screen and (max-width: $view-port) {
        display: none;
      }
    }
    .nature {
      width: 350px;
      height: 400px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url('./../../img/explore/02.png');
      @media screen and (max-width: $view-port) {
        top: 0;
        right: -175px;
      }

      img {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        transition: scale 0.2s ease-in;
        cursor: pointer;
        &:hover {
          scale: 1.25;
        }
      }
    }
  }

  //! .items__item-descriptions
  &__item-descriptions {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    @media screen and (max-width: $view-port) {
      width: 100%;
      order: 1;
    }
    span {
      margin-bottom: 8px;
      @media screen and (max-width: $view-port) {
        font-size: 16px;
      }
    }
    h3 {
      width: 100%;
      height: 76px;
      @media screen and (max-width: $view-port) {
        font-size: 24px;
      }
    }
    p {
      width: 100%;
      padding: 40px 0;
      @media screen and (max-width: $view-port) {
        font-size: 16px;
        padding: 24px 0;
      }
    }

    a.items__btn {
      max-width: 200px;
      padding: 12px 24px;
      text-align: center;
      border: 1px solid #1a3e3e;
      transition: background-color 0.3s ease-in;
      @media screen and (max-width: $view-port) {
        margin-bottom: 38px;
        align-self: center;
      }
      &:hover {
        color: #1a3e3e;
        background-color: #fdfdfd;
      }
    }

    // @media screen and (max-width: $view-port) {
    //   width: 176px;
    //   height: 44px;
    //   padding: 12px 24px;
    //   margin-left: 25%;
    //   margin-bottom: 40px;
    // }
  }
}
