.footer {
  width: 100%;
  height: 519px;
  background: #1a3e3e;
  color: #f3f5f4;
  padding-top: 178px;

  @media screen and (max-width: $view-port) {
    width: 390px;
    height: 895px;
    margin-left: -10px;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  //* .footer__body
  &__body {
    max-width: 100%;
    display: grid;
    grid-template: 263px / 480px 1fr 1fr;
    column-gap: 20px;

    @media screen and (max-width: $view-port) {
      width: 100%;
      height: 793px;
      grid-template: repeat(3, 1fr) / 1fr;
      row-gap: 26px;
    }
  }

  //* .footer__about
  &__about {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-right: 24px;
    @media screen and (max-width: $view-port) {
      height: 231px;
    }
  }

  //* .footer__about-title
  &__about-title {
    margin-bottom: 17px;
  }
  .footer__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  //* .footer__text
  &__text {
    color: $bg-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;
  }

  //* .footer__cta
  &__cta {
    display: flex;
    column-gap: 24px;
    a {
      color: $bg-white;
      &:hover {
        color: $color-accent;
      }
    }
  }

  //* .footer__socials
  &__socials {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 18px;
    margin-top: 36px;
    @media screen and (max-width: $view-port) {
      column-gap: 20.95px;
      margin-top: 34px;
    }
    a {
      transition: transform 0.3s ease-in;
    }
    a:hover {
      transform: scale(1.2);
    }
  }

  //* .footer__services
  &__services {
    color: #fdfdfd;
    @media screen and (max-width: $view-port) {
      max-width: 274px;
    }
  }

  //* .footer__services-title
  &__services-title {
    margin-bottom: 20px;
  }

  //* .footer__list
  &__list {
    li {
      position: relative;
      padding-left: 17.87px;
      margin-bottom: 16px;
      a {
        color: #fdfdfd;
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        &:hover {
          color: $color-accent;
        }
      }
      [data-new] {
        background: rgb(255, 255, 255);
        padding: 0 10px;
        color: rgb(26, 62, 62);
        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        border-radius: 4px;
        margin-left: 8px;
        text-transform: lowercase;
      }

      &::before {
        content: '';
        position: absolute;
        width: 5.87px;
        height: 10px;
        left: 0;
        top: 50%;
        padding: 0 2px;
        transform: translateY(-50%);
        background: url('./../../img/footer/arrow.png');
      }
    }
  }

  //* .footer__importants
  &__importants {
    @media screen and (max-width: $view-port) {
      max-width: 280px;
      max-height: 200px;
    }
  }

  //* .footer__importants-title
  &__importants-title {
    margin-bottom: 17px;
  }
}
