.impressions {
  width: 1920px;
  height: 1036px;
  display: flex;
  padding-top: 80px;
  position: relative;

  &__text {
    margin-bottom: 40px;
    text-align: center;
  }
  &__label {
    margin-bottom: 8px;
  }
  &__body {
    width: 1180px;
    height: 520px;
    margin-bottom: 50px;
  }
  &__galery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 250px;
    div {
      border-radius: 6px;
      height: 250px;
      position: relative;

      &:hover::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        cursor: pointer;
        transition: all 0.3s ease;
        opacity: 0.3;
        background: $color-black url('./../../img/impressions/zoom-icon.svg')
          50% 50% no-repeat;
      }
    }
  }
  //* grid
  &__galery-big {
    width: 580px;
  }

  .big-top {
    grid-area: 1 / 1 / 2 / 3;
  }
  .map {
    grid-area: 1 / 3 / 2 / 4;
  }
  .dubai {
    grid-area: 1 / 4 / 2 / 5;
  }
  .beach {
    grid-area: 2 / 1 / 3 / 2;
  }
  .big-bottom {
    grid-area: 2 / 2 / 3 / 4;
  }
  .old_map {
    grid-area: 2 / 4 / 3 / 5;
  }

}
