//!background colors
$bg-white:#ffffff;
$bg-accent: #f3f5f4;

//! colors
$color-black:rgb(24, 18, 30);
$color-accent:#F2BE22;

//! fonts
// font-family: 'DM Sans', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;

$font-main:'Nunito Sans', sans-serif;
$fs-normal:normal;

//! mobile
$view-port: 1234px;
// $view-port: 360px;
// $view-port: 365px;
// $view-port: 313px;