//!background colors
$bg-white:rgb(255, 255, 255);
$bg-accent: #f3f5f4;

//! colors
$color-black:#18121E;
$color-accent:#F2BE22;

//! fonts
// font-family: 'DM Sans', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;

$font-main:'Nunito Sans', sans-serif;
$fs-normal:normal;

//! mobile
// $view-port: 998px;
// $view-port: 360px;
$view-port: 365px;